/* Description : Change the light-sub colors (Original light sub color is light purple) */
/* main property */
#main .menu-wrapper .spacer {
    background: var(--light-sub-color);
}


/* article properties */
#article-list #article-list-category > a {
    display: inline-block;
    padding: 10px 12px;
    background: var(--light-sub-color);
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
}

#article-list #article-list-category > a.active, #article-list #article-list-category>a:hover {
    background: var(--light-sub-color) ;
}

#article-reply-area #reply-real-area .reply > .reply-header {
    background: var(--light-sub-color);
}

#article-reply-area #reply-best-area .reply > .reply-header {
    background: var(--light-sub-color)
}
